.navbar {
  position : relative;
    padding: 1rem;

  }
  
  .burger {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  
  .line {
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  
  .rotate1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .rotate2 {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  .hide {
    opacity: 0;
  }
  
  .menu {
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu.open {
    display: flex;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }